body {
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/background.jpg') no-repeat center center/cover;
}

/* Navbar */
.navbar {
    width: 100%;
    background: #003049;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.nav-right input {
    padding: 6px;
}

.nav-right button {
    padding: 6px 12px;
    margin-left: 5px;
}

/* Home content */
.home {
    text-align: center;
    margin-top: 150px;
    color: white;
}

.home h1 {
    font-size: 60px;
}

.social-icons img {
    width: 40px;
    margin: 10px;
}

/* About page */
.about {
    margin: 40px;
    padding: 20px;
    /* background: white; */
    color: white;
}

/* Contact page */
.contact {
    margin: 40px;
    padding: 20px;
    color: white;
}

.contact input, .contact textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

.contact button {
    padding: 10px 20px;
}


.main_bg_img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.main_heading {
    font-size: 60px;
}